body { 
    font-family: Arial,
    sans-serif;
    text-align: center; 
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
    gap: 5px;
    margin: 20px 8%;
    align-items: center;
}

.number { 
    padding: 10px; 
    background-color: #06D6A0;
    color: white; border-radius: 5px; 
    text-align: center; 
    cursor: pointer; 
}

.occupied { 
    background-color: #ef476f; 
    cursor: auto; 
}

.selected { 
    background-color: #073b4c; 
}

.hidden { 
    display: none; 
}

#rifaSelect{
    margin: 2rem 0;
}

/* Estilos para el spinner */
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que el spinner esté por encima del contenido */
    display: none; /* Ocultamos el spinner por defecto */
}



.tarjeta-contenedor {
    perspective: 1200px;
  }

  .tarjeta {
    width: 350px;
    height: 220px;
    border-radius: 20px;
    position: relative;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    margin: auto;
  }

  .span-tarjeta{
    color: #ffffff !important;
    text-decoration: none !important;
  }


  .tarjeta.girada {
    transform: rotateY(180deg);
  }

  .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    color: white;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .frente {
    background: linear-gradient(135deg, #0033a0, #0057b8);
  }

  .reverso {
    background: linear-gradient(135deg, #004fbf, #003a91);
    transform: rotateY(180deg);
  }

  .chip {
    width: 50px;
    height: 35px;
    background: gold;
    border-radius: 6px;
  }

  .bbva {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .dato-con-copia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    font-size: 14px;
  }

  .dato-con-copia span {
    font-weight: bold;
  }

  .copy-icon {
    color: #cfd8dc;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .copy-icon:hover {
    color: #ffffff;
  }

  .nombre-titular, .numero-tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }

  .tooltip {
    position: absolute;
    background-color: black;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip.show {
    opacity: 1;
  }



  /* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.simply-section {
	width: 30px;
	height: 80px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount {
	display: block;
	font-size: 1.4rem;
	font-weight: 700;
	color: #000000;
}

.simply-word {
	font-weight: 300;
	font-size: 1.1rem;
	color: #000000;
}